  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;

      --primary: 24 9.8% 10%;
      --primary-foreground: 60 9.1% 97.8%;

      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;

      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 20 14.3% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;

      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;

      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;

      --primary: 60 9.1% 97.8%;
      --primary-foreground: 24 9.8% 10%;

      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;

      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;

      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 24 5.7% 82.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground;
    }
  }

  @font-face {
    font-family: 'Grotesk';
    src: url(../../assets/fonts/grotesk.ttf);
  }

  font-grotesk {
    font-family: 'Grotesk';
  }

  .radio:disabled {
    opacity: 1;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .menu li>*:not(ul, .menu-title, details, .btn):active,
  .menu li>*:not(ul, .menu-title, details, .btn).active,
  .menu li>details>summary:active {
    --tw-bg-opacity: 1;
    background-color: transparent;
    --tw-text-opacity: 1;
    color: black;
  }

  .menu li>*:not(ul, .menu-title, details, .dropdown):hover,
  .menu li>*:not(ul, .menu-title, details, .dropdown).active,
  .menu li>details>summary:hover {
    --tw-bg-opacity: 1;
    background-color: #B59861;
    --tw-text-opacity: 1;
    color: white !important;
  }

  .dropdown-button {
    background-color: #B59861;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .plus-icon {
    margin-left: 8px;
    font-size: 20px;
  }

  .dropdown-content {
    transition: all 0.5s ease-in-out;
    display: block;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 100;
    margin-top: 10%;
  }

  @media (max-width: 1024px) {

    /* lg breakpoint is typically 1024px */
    .dropdown-content {
      right: auto;
      left: auto;
    }
  }

  .dropdown-content button:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .dropdown-content button:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .dropdown-content button {
    transition: all 0.2s ease-in-out;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: left;
  }

  .dropdown-content button:hover {
    background-color: #B59861;
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }